<div class="gift-card">
    <img class="gift-image" src="/images/<%= gift.image %>" alt="Gift">
    <div class="gift-info">
        <h3 class="gift-title"><%= gift.year %> - <%= gift.name %></h3>
        <p class="gift-description"><%= gift.description %></p>
    </div>
</div>