<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head.ejs'); %>
</head>

<body>
  <div>
    <h1>Index content</h1>
  </div>

  <%- include('partials/item'); %>
  <%- include('partials/item'); %>
  <%- include('partials/item'); %>
</body>

</html>
