<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>

<body>
    <div id="top-bar">
        <h1 class="title">Årets Julklappar</h1>
    </div>

    <div class="container">
        <% gifts.forEach(gift => { %>
            <%- include('partials/gift', { gift: gift }); %>
        <% }); %>
    </div>

    <%- include('partials/footer.ejs'); %>

    <!-- DElETE/CHANGE LATER  -->
    <audio id="audio_player" autoplay>
        <source src="/audio/CBT.mp3" type="audio/mp3">
    </audio>

    <script>
        let audio = document.getElementById("audio_player");
        audio.volume = 0.3;

        // DEBUG DESCRIPTIONS
        let divs = document.getElementsByClassName('gift-description');

        [].slice.call(divs).forEach(function (div) {
            div.innerHTML = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.";
        });
    </script>
    <!-- DELETE/CHANGE LATER -->
</body>

</html>