<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>

<body>
    <div id="top-bar">
        <h1 class="title">Årets Julklappar</h1>
    </div>
    <% gifts.forEach(gift => { %>
        <%- include('partials/gift', { gift: gift }); %>
    <% }); %>

    <%- include('partials/footer.ejs'); %>

    <!-- DElETE/CHANGE LATER  -->
    <audio id="audio_player" autoplay>
        <source src="/audio/CBT.mp3" type="audio/mp3">
    </audio>

    <script>
        let audio = document.getElementById("audio_player");
        audio.volume = 0.3;
    </script>
    <!-- DELETE/CHANGE LATER -->
</body>

</html>
