<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jul Projekt</title>
    <link rel="stylesheet" href="public/css/style.css">
</head>

<body>
    <div id="top-bar">
        <h1 class="title">Årets Julklappar</h1>
        <button onclick="randomGift()">Hitta din julklapp!</button>
    </div>

    <div class="container">
        <% gifts.forEach(gift => { %>
            <%- include('partials/gift', { gift: gift }); %>
        <% }); %>
    </div>

    <footer id="footer">
        <p>&copy; Copyright 2019 me :)</p>
    </footer>

    <!-- Scripts -->
    <script src="public/javascript/random_gift.js"></script>
    <script src="public/javascript/background_music.js"></script>
</body>

</html>
