<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>

<body>
    <div id="top-bar">
        <h1 class="title">Årets Julklappar</h1>
    </div>

    <% for(let i = 0; i < gifts.length; i++) {%>
        <%- include('partials/gift', { gift: gifts[i] }); %>
    <%}%>

    <%- include('partials/footer.ejs'); %>

    <!-- DELETE/CHANGE LATER  -->
    <audio id="audio_player" autoplay>
        <source src="/audio/CBT.mp3" type="audio/mp3">
    </audio>

    <script>
        let audio = document.getElementById("audio_player");
        audio.volume = 0.3;
    </script>
    <!-- DELETE/CHANGE LATER -->
</body>

</html>
