* {
  margin: 0;
  padding: 0;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.top-bar {
  background-color: rgb(195, 0, 34);
  height: 15vh;

  /* Might find a better solution later */
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: rgb(255, 255, 255);
  font-size: 3.2em;

  text-shadow: 1px 1px black;
}

/* Gift related */
.gift-card {
  width: 30vw;
  margin: 12px;

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.2s;
}

.gift-card:hover {
  box-shadow: 0 6px 16px 0 rgba(0,0,0,0.2);
}

.gift-info {
  padding: 2px 16px;
}

.gift-title {
  font-weight: bold;
}
/* ----- */

#footer {  
  width: 100%;
  height: 5vh;

  position: fixed;
  bottom: 0;
}

#footer p {
  color: rgb(108, 117, 125);
  text-align: center;
}