<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head'); %>
</head>

<body>
  <div class="top-bar">
    <h1 class="title">Årets Julklappar</h1>
  </div>

  <%- include('partials/gift'); %>
  <%- include('partials/gift'); %>
  <%- include('partials/gift'); %>
</body>

</html>