<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head'); %>
</head>

<body>
  <div class="top-bar">
    <h1 class="title">Årets Julklappar</h1>
  </div>

  <% for(let i = 0; i < gifts.length; i++) {%>
    <%- include('partials/gift', { gift: gifts[i] }); %>
  <%}%>

  <%- include('partials/footer.ejs'); %>
</body>

</html>